<div class="p-5 ml-15 mr-15 w-70">
  <h2><span class="bg-gray">商品新規登録</span></h2>
  <%= render "end_users/erros", obj: @item %>
  <div class="mt-5 ml-5">
    <%= form_with model: @item,url: admin_items_path do |f| %>
      <div>
        <%= f.label :"商品画像",class: "w-15" %>
        <%= f.file_field :product_image,accept: "image/*",class: "btn" %>
      </div>
      <div class="mt-3">
        <%= f.label :"商品名",class: "w-15" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "rounded w-50" %>
      </div>
      <div class="mt-3">
        <%= f.label :"商品説明",class: "w-15" %>
        <%= f.text_area :explanation,size: "25x5", autofocus: true, autocomplete: "explanation",class: "rounded w-50" %>
      </div>
      <div class="mt-3">
        <%= f.label :"ジャンル",class: "w-15" %>
        <%= f.select :genre_id, @genres.map{|f| [f.name, f.id]} , { include_blank: '選択してください'},autofocus: true, autocomplete: "genre_id",class: "rounded w-50" %>
      </div>
      <div class="mt-3">
        <%= f.label :"税抜き価格",class: "w-15" %>
        <%= f.number_field :price, autofocus: true, autocomplete: "price",class: "rounded w-50" %>円
      </div>
      <div class="mt-3">
        <%= f.label :"販売ステータス",class: "w-15" %>
        <%= f.radio_button(:is_saled,'1') %>販売中
        <%= f.radio_button(:is_saled,'0') %>販売停止中
      </div>
      <div class="mt-5 ml-15">
        <%= f.submit "新規登録" ,class:"btn btn-success w-20" %>
      </div>
    <% end %>
  </div>
</div>