<div class="p-5 ml-10 mr-10 w-80">
  <h2><span class="bg-gray">注文履歴詳細</span></h2>
  <div class="mt-5 ml-5">
    <div class="d-flex">
      <div class="w-20"><h3><strong>購入者</strong></h3></div>
      <div class="ml-5"><h3><%= @order.end_user.first_name+@order.end_user.last_name %></h3></div>
    </div>
    <div class="d-flex">
      <div class="w-20"><h3><strong>注文日</strong></h3></div>
      <div class="ml-5"><h3><%= @order.created_at.strftime("%Y/%m/%d") %></h3></div>
    </div>
    <div class="d-flex">
      <div class="w-20"><h3><strong>配送先</strong></h3></div>
      <div class="ml-5"><h3><%= @order.full_address %></h3></div>
    </div>
    <div class="d-flex">
      <div class="w-20"><h3><strong>支払方法</strong></h3></div>
      <div class="ml-5"><h3><%= Order.pay_methods_i18n[@order.pay_method] %></h3></div>
    </div>
    <div class="d-flex">
      <div class="w-20"><h3><strong>注文ステータス</strong></h3></div>
      <div class="ml-5">
        <%= form_with model:@order,url: admin_order_path(@order.id),method: :patch do |f| %>
          <div class="d-flex">
            <%= f.select :order_status, Order.order_statuses_i18n.invert ,{},{class: 'form-control'} %>
            <%= f.submit "更新",class:"btn btn-success ml-5"%>
          </div>
        <% end %>
      </div>
    </div>

  <div class="d-flex mt-5">
    <div class="w-70">
      <table class="table">
        <thead class="bg-gray">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.item.with_tax_price*order_detail.amount %></td>
              <td>
                <%= form_with model:order_detail,url: admin_order_detail_path(order_detail.id),method: :patch do |f| %>
                  <div class="d-flex">
                    <%= f.select :order_status, OrderDetail.order_statuses_i18n.invert ,{},{class: 'form-control'} %>
                    <%= f.submit "更新",class:"btn btn-success ml-5"%>
                  </div>
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="w-30 ml-5 mt-5">
      <div class="d-flex">
        <div class="w-60"><strong class="h3">商品合計</strong></div>
        <div class="w-40 ml-auto text-right"><span class="h3"><%= @order.total_payment %>円</span></div>
      </div>
      <div class="d-flex">
        <div class="w-60"><strong class="h3">送料</strong></div>
        <div class="w-40 ml-auto text-right"><span class="h3"><%= @order.postage %>円</span></div>
      </div>
      <div class="d-flex">
        <div class="w-60"><strong class="h3">請求合計金額</strong></div>
        <div class="w-40 ml-auto text-right"><span class="h3"><%= @order.total_payment+@order.postage %>円</span></div>
      </div>
    </div>
  </div>
</div>