<div class="p-5 ml-10 mr-10 w-80">
  <h2><span class="bg-gray">注文履歴一覧</span></h2>
  <div class="mt-3">
    <table class="table">
      <thead class="bg-gray">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <p>〒<%= order.post_code %></p>
              <p><%= order.address %></p>
              <p><%= order.name%></p>
            </td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <p><%= order_detail.item.name %></p>
              <% end %>
            </td>
            <td>
              <%= order.total_payment %>円
            </td>
            <td>
              <%= Order.order_statuses_i18n[order.order_status] %>
            </td>
            <td>
              <%= link_to "表示する",order_path(order.id),class:"btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>