<div class="p-5 ml-15 mr-15">

  <h1><span class="bg-gray">ログイン</span></h1>
  <p class="ml-5 mt-5"><span class="bg-gray">会員の方はこちらからログイン</span></p>
  <div class="ml-10">
    <%= form_with model: @end_user, url:end_user_session_path, local: true do |f| %>
      <div class="field mb-3 mt-3 ml-5">
        <%= f.label :"メールアドレス",class: "w-15" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "rounded" %>
      </div>

      <div class="field mb-5 ml-5">
        <%= f.label :"パスワード",class: "w-15" %>
        <%= f.password_field :password, autocomplete: "current-password",class: "rounded" %>
      </div>

      <div class="actions ml-10 mt-5">
        <%= f.submit "ログイン",class:"btn btn-primary w-20" %>
      </div>
    <% end %>
  </div>
  <div class="mt-5">
    <p><span class="bg-gray ml-5">会員登録がお済みでない方</span></p>
    <p class="pl-5 mt-3 ml-10"><strong><a href="/end_users/sign_up" class="text-blue">こちら</a></strong>からログインしてください。</strong>
  </div>
</div>
