<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'templates/genre', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h2 class="mb-4">商品一覧 <span class="h4">(全<%= @items.count %>件)</span></h1>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <%= link_to item_path(item.id), class: "text-decoration-none w-25" do %>
            <div class="card m-2 p-1 card-hover">
              <%= image_tag item.product_image, class: "card-img-top rounded shadow-sm",size:"100x100" %>
              <div class="card-body text-body">
                <h5 class="card-title text-primary"><%= item.name %></h5>
                <p class="card-text text-primary">¥<%= item.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>