<div class="p-5">
  <h1><span class="bg-gray">マイページ</span></h1>
  <h2>
    <strong>登録情報</strong>
    <%= link_to "編集する",edit_end_user_path,class:"ml-5 btn btn-success" %>
  </h2>
  <table class="table table-bordered w-50">
    <tr>
      <td class="bg-light">氏名</td>
      <td class="">
        <%= current_end_user.first_name %>　
        <%= current_end_user.last_name %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">カナ</td>
      <td class="">
        <%= current_end_user.first_name_kana %>　
        <%= current_end_user.last_name_kana %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">郵便番号</td>
      <td class="">
        <%= current_end_user.post_code %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">住所</td>
      <td class="">
        <%= current_end_user.address %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">電話番号</td>
      <td class="">
        <%= current_end_user.phone_number %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">メールアドレス</td>
      <td class="">
        <%= current_end_user.email %>
      </td>
    </tr>
  </table>
  <h2>
    <strong>配送先</strong>
    <%= link_to "一覧を見る","/",class:"ml-5 btn btn-primary" %>
  </h2>

  <h2>
    <strong>注文　</strong>
    <%= link_to "一覧を見る","/",class:"ml-5 btn btn-primary" %>
  </h2>
</div>