<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'templates/genre', genres: @genres %>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="bg-img d-flex justify-content-center align-items-center mb-5">
        <p class="bg-white p-3 rounded" style="opacity: 90%;">
          ようこそ、NaganoCakeへ！<br>
          このサイトはケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧は可能ですが、<br>
          購入するには会員登録が必要になりますのでお気をつけください。<br>
        </p>
      </div>
      <h2 class="mb-4">新着商品 <span class="h4">(全<%= @items.count %>件)</span></h1>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <%= link_to item_path(item.id), class: "text-decoration-none w-25" do %>
            <div class="card m-2 p-1 card-hover">
              <%= image_tag item.get_product_image(100,100), class: "card-img-top rounded shadow-sm" %>
              <div class="card-body text-body">
                <h5 class="card-title text-primary"><%= item.name %></h5>
                <p class="card-text text-primary">¥<%= item.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>