<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <h3>NaganoCake</h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if end_user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'マイページ', "/end_users/mypage", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '商品一覧', "/items", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'カート', "/cart_items", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_end_user_session_path , method: :delete ,class: 'btn btn-outline-secondary nav-link text-dark' %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to '商品一覧', "/admin/items", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '会員一覧', admin_end_users_path, class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '注文履歴一覧', admin_orders_path, class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ジャンル一覧', admin_genres_path, class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path , method: :delete ,class: 'btn btn-outline-secondary nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to '商品一覧', "/", class: ' mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_end_user_registration_path , class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_end_user_session_path, class: 'btn btn-outline-secondary nav-link text-dark' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <% if admin_signed_in? %>
        <div>
          <div class="w-30 float-right mr-10">
          <form action="/admin/items/search">
            <div class="input-group">
              <input type="text" id="name" name="name" class="form-control input-group-prepend" placeholder="キーワードを入力">
              <span class="input-group-btn input-group-append">
                <button type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</button>
              </span>
            </div>
          </form>
          </div>
        </div>
      <% end %>
    </header>

    <body>
    <div class="bg-success text-center">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
    <%= yield %>
    </body>

    <footer>

    </footer>

  </body>
</html>
