<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <% if end_user_signed_in? %>
              # エンドユーザ#トップページ(ルートパス)
            <% elsif admin_signed_in? %>
              # 管理者TOPページ
            <% else %>
              # エンドユーザ#トップページ(ルートパス)
            <% end %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if end_user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'マイページ', "/end_users/mypage", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '商品一覧', "/", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'カート', "/", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_end_user_session_path , method: :delete ,class: 'btn btn-outline-secondary nav-link text-dark' %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to '商品一覧', "/admin", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '会員一覧', admin_end_users_path, class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '注文履歴一覧', "/admin", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ジャンル一覧', "/admin", class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path , method: :delete ,class: 'btn btn-outline-secondary nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to '商品一覧', "/", class: ' mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_end_user_registration_path , class: 'mr-1 btn btn-outline-secondary nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_end_user_session_path, class: 'btn btn-outline-secondary nav-link text-dark' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <%= yield %>

    <footer>

    </footer>

  </body>
</html>
